h1 {
    color: blue;
}

h3 {
    color: brown;
}

table,
th,
td {
    border: 1px solid rgb(121, 179, 35)
}

body {
    background: linear-gradient(red, blue, green);

}

#hello {
    text-align: center;

}
table{
  float: right;
}
table{
    flex-direction: row-reverse;
}